{% extends 'base.html' %}
{% load static %}
{% block content %}
							<!-- Content -->
								<section>
									<header class="main">
										<h1> {{recipe.title}} </h1>
									</header>

									<span class="image main"><img style="width:500px; height: auto;" src="{{ recipe.get_image }}" alt="" /></span>
                                    <p>Date created: {{ recipe.created }}</p>
                                    <p>{{recipe.user.get_full_name}}</p>
                                    <h3> Cooking Time: {{recipe.cooking_time}} minutes </h3>

									<hr class="major" />
                                    {% for image in images %}
                                    <img src="{{ image }}" style="width:500px; height:500px;"class="img-thumbnail" alt="...">
                                    {% endfor %}
									<h2> Directions </h2>
                                    <p>{{recipe.description}}</p>
									<a href="{% url 'update' recipe.id %}"><i class="fas fa-edit"></i></a>
									<a href="{% url 'delete' recipe.id %}"><i class="fal fa-trash"></i></a>


								</section>

{% endblock %}
